@font-family-sans: 'helvetica neue', helvetica, arial, sans-serif;
@font-family-serif: 'hoefler text', georgia, times, serif;
@font-family-mono: monaco, 'courier new', courier, monospace;

.zona-light {font-family: 'ZonaPro-Light', 'Futura', Helvetica, Arial, sans-serif;font-weight: normal;}
.zona-black {font-family: 'ZonaPro-Black', 'Futura', Helvetica, Arial, sans-serif;font-weight: normal;}
.zona-bold {font-family: 'ZonaPro-Bold', 'Futura', Helvetica, Arial, sans-serif;font-weight: normal;}
.zona-extra {font-family: 'ZonaPro-ExtraBold', 'Futura', Helvetica, Arial, sans-serif;font-weight: normal;}
.zona-semi {font-family: 'ZonaPro-SemiBold', 'Futura', Helvetica, Arial, sans-serif;font-weight: normal;}